.box{
	//text-align: center; 
	//line-height: 200px; 
	height: 400px;
	width: 400px;
	//border: 2px solid #000;
	
	background-color: #fafafa;
	border-radius: 10%;
	
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%); 
	
	box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.1);
}
div h1{
	text-align: center;
}

div p{
	text-align: left;
	margin-left: 10px;
	font-size: 18px;
}
.box img{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 10%;
	top: 18%;
	//border: 2px solid blue;
}
